/* CSS CUSTOM PROPERTIES */
:root {
  /* COLOURS */    
  --colour-primary: #FAFAFA;
  --colour-primary-light: #FFF;
  --colour-secondary: #333;
  --colour-secondary-light: #444;
  --colour-secondary-lightest: #555;
  --colour-secondary-dark: #222;
  --colour-tertiary: #4DB2FF; 
  --colour-tertiary-dark: #006DC9;
}

/* GENERAL */
body {
  margin-top: 5rem;
}

.body-light {
  background: var(--colour-primary);
  color: var(--colour-secondary);
}

.body-dark {
  background: var(--colour-secondary-dark);
  color: var(--colour-primary);
}
  
h1, h2, h3, h4, h5, h6 {
  color: var(--colour-secondary-light);
}

.heading-light-theme {
  color: var(--colour-secondary-light);
}

.heading-dark-theme {
  color: var(--colour-primary);
}

/* NAVBAR */
.navbar {
  background-color: var(--colour-secondary);
  color: var(--colour-primary);
}

.site-header .navbar-nav .nav-link {
  color: var(--colour-primary);
  transition: all .3s;
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--colour-tertiary);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.theme-icon-span {
  padding-left: 0.3rem;
}

/* MAIN */
.content-section {
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-light {
  background: var(--colour-primary-light);
  border: 1px solid #ddd;
}

.article-dark {
  background: var(--colour-secondary);
  border: none;
}

.article-title {
  transition: all .3s;
}

.article-title-light {
  color: var(--colour-secondary-light);
}

.article-title-dark {
  color: var(--colour-primary);
}

a.article-title:hover {
  color: var(--colour-tertiary);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a {
  color: var(--colour-tertiary);
}

.article-metadata a:hover {
  color: var(--colour-tertiary);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.edit-btn {
  color: var(--colour-primary)!important;
  background-color: var(--colour-secondary-lightest);
  border-color: var(--colour-secondary-lightest);
}

.edit-btn:hover {
  color: var(--colour-tertiary)!important;
  background-color: var(--colour-secondary-light);
  border-color: var(--colour-secondary-light);
}

/* ACCOUNT */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* SIDEBAR */
.sidebar-items-light {
  background-color: var(--colour-primary);  
}

.sidebar-items-dark {
  background-color: var(--colour-secondary);  
  border-color: var(--colour-primary);
}

/* PAGING */
.paging-btn,
.paging-btn:hover,
.paging-btn-outline:hover,
.form-btn-outline:hover {
  color: var(--colour-primary);
  background-color: var(--colour-tertiary);
  border-color: var(--colour-tertiary);
  transition: all .3s;
}

.paging-btn-outline, .form-btn-outline {
  color: var(--colour-tertiary);
  border-color: var(--colour-tertiary);
}

/* FOOTER */
.footer {
  background-color: var(--colour-secondary);
  color: var(--colour-primary);
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

.symbol {
  font-size: 2rem;
  color: var(--colour-tertiary);    
}

/* THEME-TOGGLE */
.theme-toggle {
  margin-top: 0.5rem;
}

.theme-toggle input[type=checkbox] {
	display: none;
}

.theme-toggle label {
	background-color: #777;
	border: 2px solid var(--colour-secondary-lightest);
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 3.5rem;
  height: 1.5rem;
  margin-bottom: 0;
}

.theme-toggle label::after {
	background-color: var(--colour-secondary-lightest);
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 1rem;
	height: 1rem;
}

.theme-toggle input[type=checkbox]:checked ~ label {
	background-color: var(--colour-tertiary);
	border-color: var(--colour-tertiary-dark);
}

.theme-toggle input[type=checkbox]:checked ~ label::after {
	background-color: var(--colour-tertiary-dark);
	transform: translateX(2rem);
}

